a {
  text-decoration: none;
  color: black;
}

.app {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  height: 100%;
  width: 100%;
  margin: 0;
}

.nav {
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
  background: #fff;
  padding: 1rem;
}

.gutters {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.nav-items-container {
  display: flex;
  align-items: center;
}

.logo-container-main {
  width: 80px;
  height: 80px;
  margin-right: 1.8rem;
}

.logo-container {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 4rem;
}

.logo {
  width: 80px;
  height: 80px;
}

.nav-clickables-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: 1.1rem;
}

.page-links-container {
  flex-shrink: 0;
}

.first-page-link {
  display: inline-block;
  padding-left: 0;
}

.page-links {
  display: inline-block;
  padding-left: 2.4rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  cursor: pointer;
}

.link:hover {
  color: #ffbd59;
}

.function-links-container {
  margin-left: auto;
  flex-shrink: none;
  font-size: 1.1rem;
}

.function-link-items {
  display: flex;
}

.store-link {
  display: flex;
  font-weight: 600;
  text-decoration: none;
  margin-right: 4rem;
  align-items: center;
}

.store-link:hover {
  color: #ffbd59;
  cursor: pointer;
}

.store-svg {
  padding-right: 0.8rem;
  vertical-align: middle;
}

.default-button {
  display: inline-block;
  background: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: all 0.2s ease;
}

.default-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.black {
  border-color: black;
  background-color: black;
  color: white;
}

.black:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
}

.function-acc {
  margin-right: 1.6rem;
}

.homepage-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.homepage-header-text {
  font-size: 2.8rem;
  font-weight: 700;
}

.featured-item-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vw;
}

.featured-item-container {
  background-color: #cbbce3;
}

.featured-img-container {
  width: 49vw;
  height: auto;
}

.featured-img {
  width: 100%;
  height: auto;
}

.featured-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.featured-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  margin: 0;
}

.featured-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* #cbbce3, #78be79, #e2e0e1  */

/* Rewards Page */

.banner {
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 12%), 0 0 2px 0 rgb(0 0 0 / 24%);
  height: 50px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: #ee6d1d;
}

.banner-text {
  padding-left: 99px;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.header-container {
  width: 100vw;
  height: 110vh;
  background-color: bisque;
}

.header-img-container {
  width: 100%;
  height: 100%;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding-left: 10%;
}

.header-img {
  width: 100%;
  height: 100%;
  background-position: 60%;
  background-size: auto 80%;
  background-repeat: no-repeat;
}

.header-text-big {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.2rem;
  margin: 0;
  line-height: 1.29;
}

.getting-started-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.getting-started-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rewards-span {
  text-decoration: underline;
  cursor: pointer;
}

.orange {
  border-color: #ee6d1d;
  background-color: #ee6d1d;
  color: white;
}

.orange:hover {
  background-color: rgba(238, 109, 29, 0.7);
  border-color: rgba(238, 109, 29, 0.7);
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.getting-started-main {
  width: 100vw;
  height: 70vh;
  margin-top: 6.4rem;
}

.getting-started-header {
  font-weight: 600;
}

.getting-started-header-subtext {
  margin: 0;
}

.getting-started-steps-container {
  display: flex;
  justify-content: space-evenly;
}

.getting-started-item {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 300px;
}

.item-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #ffbd59;
  border: 1px solid #ffbd59;
  font-size: 24px;
}

.item-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.item-text {
  font-size: 1.1rem;
}

.rewards-choice-main {
  width: 100vw;
  height: 60vh;
}

.rewards-choice-header-container {
  background-color: #ffede1;
  height: 25vh;
}

.rewards-choice-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3.6rem;
}

.rewards-choice-text-and-buttons {
  height: 60%;
}

.rewards-header {
  margin: 0;
  font-weight: 600;
}

.rewards-text-container {
  background-color: bisque;
  width: 100vw;
  height: 35vh;
}

.reward-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #ffede1;
  padding-bottom: 1.6rem;
  gap: 1.6rem;
}

.reward-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  font-size: 1.6rem;
  cursor: pointer;
  border-bottom: 4px solid transparent;
}

.active {
  border-bottom: 4px solid #ee6d1d;
}

.rewards-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reward-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reward-subtext {
  text-align: center;
}

.reward-title {
  font-weight: 600;
}

/* Rewards Page */
